body {
	background-color: thistle;
}

.like_button_container {
  padding: 10px;
  font-size: 12px;
  margin-left: 20px;
  background-color: gray;
  color: white;
  float: left;
  border: 2px solid gray;
}

.my_name {
  font-size: 36px;
  font-family: "Arial";
  font-weight: "bold";
}